@model FirstMVCApp.Models.Employe

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression d'employé'</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
      
    </dl>
    
    <!-- Cette form si renvoyée avec le bouton submit genère une requete de type POST -->
    <form asp-action="Delete" asp-route-id="@Model.Matricule">
        <input type="submit" value="Delete" class="btn btn-danger" /> |

        <a asp-action="Index">Back to List</a>
    </form>
</div>
