@using StartFromScratch.Models;
@model IndexVM

@{
    ViewBag.Title = "Liste des employés";
}


    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Liste.First().Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Liste.First().Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Liste.First().Matricule)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Liste.First().Salaire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Liste.First().DateEntree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Liste.First().Actif)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Liste)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salaire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEntree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actif)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Matricule }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.Matricule  }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Matricule })
                    </td>
                </tr>
            }
        </tbody>
    
    </table>
@Html.ActionLink("Augmenter les salaires", "AugmenterSalaires", new { Texte = "Dom" }) |
@Html.ActionLink("Augmenter les salaires >5", "AugmenterSalaires", new EmployeSearchModel{ Anciennete = 5 }) |

<!-- Cette partie de code HTML sera mise en place dans la page finale par le layout -->
@section head{
    <style>
        .toto {
        }
    </style>
    <script>
        function alerte(){}
    </script>
}


